{% extends 'base.html' %}

{% block head %}
<title>Wallet Manage System</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">All User Wallets</h1>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning" style="background-color: #77DD77; font-size: 17px; margin-top: 10px; text-align: center">
            {{ message }}
        </div>
    {% endfor %}

    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no Wallets, Create One Below</h4>
    {% else %}
    <br>
    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Details</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.username }}</td>              
                <td>
                    <a href="/user_details/{{task.id}}">View</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if current_user.is_authenticated %}
    <h3 style="text-align: center; margin-bottom: 10px;"><a href="{{url_for('logout')}}"><i>Logout</i></a></h3>
    {% endif %}

</div>
{% endblock %}